
*{
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url("./images/background.png");
    background-size: cover;
}
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

body {
    
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}
body .booking{
	display: flex;
}
body.registration{
	background-image: url("./images/registrationBackground.png");
    background-size: cover;
}
body.booking{
	background-image: url("./images/booking-background.jpg");
    background-size:cover;
}
.flight-page{
    display:flex;
}
.welcome{
    float: left;
    display: inline;
    margin-top: 50px;
    position: relative;
    margin-right: 90px;
    margin-left: 20px;
}
.welcome p{
    font-family: 'Abril Fatface', cursive;
    display: inline;
    inline-size: 200px;
    margin-top: 50px;
	margin-right: 50px;
    font-size: 50px;
    font-style: italic;
    
    color: #29241c;
}
#new-user{
    padding: 20px;
    display: inline;
    text-align: center;
    margin: 20px;
    
}

.registration .container{
	margin-left:50px;
    margin-right:auto;
    float: left;
}

.booking .container{
	margin: auto;
	width: auto;
}
.booking .container h1{
	color: antiquewhite;
	font-size: 60px;
}
#payment-icons{
	
	text-align:end;
	border-radius: 15px;
	padding-right: 60px;
}
.booking .radio-group{
	display: inline-block;
	position: relative;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.booking .form-control{
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	display: block;
	position: relative;
	width: 100%;
	padding: 20px;
	height: 100%;
}
#passenger1, #passenger2, #passenger3, #meal-options{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding-bottom: 20px;
}
#travel-date, #address{
	
	display: flex;
}
#p1-age{
	width: 100px;
	
}
#travel-date input[type="date"]{
	height: 50px;
	font-size: 20px;

}
#passengers, #travel-options, #email-phone, #meal-options, #payment-options{
	display: flex;
	
}
#passengers input[type="number"]{
	height: 60px;
	font-size: 20px;
	width: 100px;
}
select {
	
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
  }
:root {
	--select-border: #777;
	--select-focus: blue;
	--select-arrow: var(--select-border);
  }
  select::-ms-expand {
	display: none;
  }
.select {
	margin-left: 20px;
	display: grid;
	width: 100%;
	min-width: 15ch;
	max-width: 30ch;
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.17rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
	grid-template-areas: "select";
	align-items: center;
  }
  select,
.select:after {
  grid-area: select;
  justify-self: end;
}
.select::after {
	content: "";
	width: 0.8em;
	height: 0.5em;
	background-color: var(--select-arrow);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
  
#passengers input[type="number"]{
	height: 20px;
}
#city, #name{
		display: flex;
		
}
.radio-group, .gender-radio-group{
	border-bottom: 1px solid #3833338e;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#gender{
	margin: 20px;
}
#one-way{
	margin-left: 50px;
}
.booking .radio{
	font-size: 24px;
	font-weight: 500;
	text-transform: capitalize;
	display: inline-block;
	color: #fff;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	
}
.booking .radio + .radio{
	margin-left: 20px;

}
.radio input[type="radio"]{
	display: none;

}
.radio span{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 3px solid #00aceb;
	display: block;
	position: absolute;
	left: 0;
	top: 7px;
}

.radio span:after{
	content: "";
	height: 8px;
	width: 8px;
	background: #00aceb;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
	transition: 300ms ease-in-out 0s;

}
#gender{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
}

.radio input[type="radio"]:checked ~ span:after{
	transform: translate(-50%, -50%) scale(1);

}
.container {
    margin-left:auto;
    margin-right:50px;
    float: right;
	/* background-color: #fff; */
    backdrop-filter: blur(4px);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #1b1a1a;
	/* background-color: #f7f7f7; */
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}
#adults, #children{
	border: none;
}
.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
.booking .form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
	
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.booking .form-control small {
	color: #d60036;
	position: absolute;
	bottom: 0;
	left: 20px;
	visibility: hidden;
}
.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.booking button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 40%;
	float: right;
}










@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}